/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('image/LogoBackHero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 800px;
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'pacifico', sans-serif;
}

.hero p {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Crete Round', sans-serif;
}

/* Featured Section */
.featured {
    padding: 0 60px;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f5E6CA;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #2c3e50
}

.featured h2 {
    font-family: 'pacifico';
    color: #2c3e50;
    margin-bottom: 40px;
    font-size: 2rem;
    margin-top: 50px;
}

.features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature-item {
    flex: 1;
    min-width: 300px;
    margin: 0 15px 30px;
    padding: 20px;
    border-radius: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    border: 3px solid white;
    font-family: 'crete round', sans-serif;
}